$primary-color: #007AFE;
$secondary-color: #EEF6FF;


.header{
  text-align: center;
}

.header__title {
  margin: 0 0 1em;
}

.new-todo {;
  display:flex;
  gap: 15px 5px;
  justify-content: center;
}
.new-todo__input {
  color: #333;
  border-radius: 0.5em 0.5em;
  border: 1px solid black;
  padding: 0 1em;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  flex: 1 1;
}

.new-todo__input-error {
  background-color: #fce4e4;
  border: 1px solid #cc0033;
  outline: none;
}

.new-todo__button {
  background: $primary-color;
  border: 0;
  border-radius: 0.5em 0.5em;
  padding: 0.7em 0.9em 0.6em;
  color: white;
  &:hover {
    background: rgba($primary-color, 0.5);
  }
}