$primary-color: #007AFE;
$secondary-color: #EEF6FF;
$sm: 576px;

@mixin flex-space {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}


.todo-card {
  @include flex-space;
  justify-content: space-between;
  border: lightgray solid 1px;
  border-radius: 0.5em 0.5em;;
  background: $secondary-color;
  box-shadow: 0 0.5em 0.5em 0 $secondary-color;
  padding: 1em;
  margin-bottom: 0.8em;
  align-items: center;
  word-wrap: anywhere;
  &:hover {
    background: rgba($secondary-color, 0.5);
  }
  @media only screen and (max-width: $sm) {
    flex-direction: column;
    align-items: stretch;
  }
}

.todo-card__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  + label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  &:checked {
    + label::before {
      border-color: $primary-color;
      background-color: $primary-color;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }
  }
}

.todo-card__title-complete {
  text-decoration: line-through;
}

.todo-card__button{
  background: $primary-color;
  border-radius: 0.5em 0.5em;
  border: 0;
  padding: 0.7em 0.9em 0.6em;
  color: white;
  &:hover {
    background: rgba($primary-color, 0.5);
  }
}

.todo-card__left{
  @include flex-space;
  @media only screen and (max-width: $sm) {
    justify-content: flex-start;
  }
}

.todo-card__right {
  @include flex-space;
  flex-shrink: 0;
  @media only screen and (max-width: $sm) {
    justify-content: flex-end;
  }
  color: gray;
  font-size: 0.8em;
}

.todo-card__datetime {
  display: flex;
  flex-direction: column;
  align-items: center;
}